.form-group{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  z-index: 20;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 300px;
  background-color: #375a7f;
  border-radius: 5px;
  padding: 20px;
  position: relative;
}
.form h5:not(:first-child){
  margin-top:10px;
}
.form button[type=submit]{
  margin-top:10px;  
}
.close-add-film{
  position : absolute;
  top: 5px;
  right: 8px;
}